* {outline: none;
   margin: 0;
   padding: 0px;
}

ol, ul {list-style: none;}

*,
*:after,
*:before {
   box-sizing: border-box;
}

body {
   height: 100vh;
   font-size: 14px;
   line-height: 20px;
   font-family: 'Segoe UI', Arial, sans-serif;
   color: #000;
   font-weight: 400;
   cursor: default;
   background: #F6F9FC;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

a {
	color: #ee1025;
	text-decoration: underline;
	outline: none;
}

a:hover {
	text-decoration: none;
}

h3 {
   font-size: 18px;
   margin-bottom: 20px;
}

p {
   margin-bottom: 20px;
}

/*--------- main ---------*/

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: hidden;
}

.wrap {
   max-width: 400px;
   width: 100%;
   padding: 30px;
   background-color: #fff;
   border-radius: 2px;
   box-shadow: 0 2px 4px rgba(50,50,93,.1);
}

.input {
   width: 100%;
   height: 45px;
   border: 1px solid rgba(0,0,0,.2);
   padding: 0 15px;
   background-color: #fff;
   margin-bottom: 20px;
   font-size: 14px;
   border-radius: 3px;
   box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
   font-family: 'Segoe UI', Arial, sans-serif;
   transition: all 0.3s ease;
}

.input.error {
   border-color: #ff0000;
}

.input:focus {
	border-color: #6772E5;
	box-shadow: 0 0 3px #6772E5;
}

.button {
   font-size: 14px;
   text-transform: uppercase;
   display: inline-block;
   vertical-align: top;
   background-color: #6772E5;
   border: none;
   border-radius: 3px;
   padding: 0 15px;
   height: 40px;
   color: #fff;
   cursor: pointer;
   font-weight: bold;
   box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 1px rgba(0,0,0,.2);
   font-family: 'Segoe UI', Arial, sans-serif;
}

.error-text {
   color: #ff0000;
}

.panel {
   position: fixed;
   right: 0; bottom: 0;
   padding: 10px 20px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(50,50,93,.11);
   z-index: 10;
   text-align: right;
}

.container {
   max-width: 960px;
   margin: 30px auto;
}


/* ^_^ */